@using HidroacousticSygnals.Core
@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/main")
<div class="jumbotron">
    <div class="row">
        <div clas="col-md-8">
            <form method="post"  action="@Url.Action("GenerateSound")">
            
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Координаты источника(x,y,z)</label>
                    <div class="col-sm-3 content-container">
                        <div>
                            <input type="number" class="form-control" name="xSource" placeholder="x">
                        </div>
                        <div>
                            <input type="number" class="form-control" name="ySource" placeholder="y">
                        </div>
                        <div>
                            <input type="number" class="form-control" name="zSource" placeholder="z">
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Координаты ГАС(x,y,z)</label>
                    <div class="col-sm-3 content-container">
                        <div>
                            <input type="number" class="form-control" name="xSystem" placeholder="x">
                        </div>
                        <div>
                            <input type="number" class="form-control" name="ySystem" placeholder="y">
                        </div>
                        <div>
                            <input type="number" class="form-control" name="zSystem" placeholder="z">
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Частота излучения (w)</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" name="frequency" placeholder="frequency">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Время</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" name="time" placeholder="time">
                    </div>
                </div>
         
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Глубина моря (h)</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" name="deep" placeholder="Deep">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-8 sbm-btn">
                        <button type="submit" class="btn btn-primary">Generate Hidroacoustic Wave</button>
                    </div>
                </div>
            </form>
        </div>
       
        @*<div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
        @*<fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0"></legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                        <label class="form-check-label" for="gridRadios1">
                            First radio
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                            Second radio
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
                        <label class="form-check-label" for="gridRadios3">
                            Third disabled radio
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>*@
        @*<div class="form-group row">
            <div class="col-sm-2">Checkbox</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                        Example checkbox
                    </label>
                </div>
            </div>
        </div>*@
        
    </div>
    @*<input type="file" id="thefile" accept="audio/dat" />
    <small class="copy">&copy; @DateTime.Now.Year -Sofia Stepaniuk</small>*@
   
    
    @*<audio id='audio' controls autoplay>
        <source src="" type="audio/wav" />
        Your browser does not support the audio element.
    </audio>*@
   
</div>

<div col="sm-12">
    <div id="content">
        <canvas id="canvas"></canvas>
        <audio id="audio" controls></audio>
    </div>
</div>
<script>
    function readSingleFile(e) {
        var file = e.target.files[0];
        if (!file) {
            return;
        }
        var reader = new FileReader();
        reader.onload = function() {
            //var file = document.getElementById("thefile");
            var audio = document.getElementById("audio");
            audio.controls = true;
                //var files = this.files;
                audio.src = URL.createObjectURL(file);
                audio.load();
                audio.play();
                var context = new AudioContext();
                var src = context.createMediaElementSource(audio);
                var analyser = context.createAnalyser();

                var canvas = document.getElementById("canvas");
                canvas.width = window.innerWidth;
                canvas.height = window.innerHeight;
                var ctx = canvas.getContext("2d");

                src.connect(analyser);
                analyser.connect(context.destination);

                analyser.fftSize = 256;

                var bufferLength = analyser.frequencyBinCount;
                console.log(bufferLength);

                var dataArray = new Uint8Array(bufferLength);

                var WIDTH = canvas.width;
                var HEIGHT = canvas.height;

                var barWidth = (WIDTH / bufferLength) * 2.5;
                var barHeight;
                var x = 0;

                function renderFrame() {
                    requestAnimationFrame(renderFrame);

                    x = 0;

                    analyser.getByteFrequencyData(dataArray);

                    ctx.fillStyle = "#000";
                    ctx.fillRect(0, 0, WIDTH, HEIGHT);

                    for (var i = 0; i < bufferLength; i++) {
                        barHeight = dataArray[i];

                        var r = barHeight + (25 * (i / bufferLength));
                        var g = 250 * (i / bufferLength);
                        var b = 50;

                        ctx.fillStyle = "rgb(" + r + "," + g + "," + b + ")";
                        ctx.fillRect(x, HEIGHT - barHeight, barWidth, barHeight);

                        x += barWidth + 1;
                    }
                }

                audio.play();
                renderFrame();
        };
        reader.readAsText(file);
    }

   
    document.getElementById('thefile')
        .addEventListener('change', readSingleFile, false);
    
</script>
